@model CzechLearning.Models.Word

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Word</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.English)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.English)
            @Html.ValidationMessageFor(model => model.English)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Czech)
        </div>
        <div class="editor-field" id="czech-input">
            @Html.EditorFor(model => model.Czech)
            @Html.ValidationMessageFor(model => model.Czech)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@Html.Partial("CzechKeys")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
