@model CzechLearning.Models.WordQuiz

@{
    ViewBag.Title = "Quiz!";
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.hotkeys.js"></script>
<script>
    $(document).bind('keydown', 'space', getNext);

    function getNext(evt) {
        // We reload the page, knowing that we'll get a new word
        location.reload();
        return false;
    }
</script>

<h2>Word quiz</h2>


@using (Ajax.BeginForm("CheckWord",
    new AjaxOptions
    {
        UpdateTargetId = "resultplaceholder",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
    }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Word quiz</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.English)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.English)
            @Html.HiddenFor(model => model.English)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Czech)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.userTranslation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.userTranslation)
            @Html.ValidationMessageFor(model => model.userTranslation)
            <span id="resultplaceholder"></span>
        </div>
            @{
                var dic = new ViewDataDictionary ();
                dic.Add ("id", "userTranslation");
            }
            @Html.Partial("CzechKeys", dic)
        <p>
            <input type="submit" value="Test"/>
            <button onclick ="location.href='@Url.Action("Index")'">Next >></button>
            <button>Hint</button>
        </p>
    </fieldset>
}

<p>
    <!--@Html.ActionLink("Help", "Help")-->
</p>
